header {
    background-color: #f5ba13;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  
  header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
    display: inline-block;
  }

  .navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
    margin-right: 30px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;
}
nav ul li{
    display:inline-block;
    margin-right: 20px;
    margin-top: 0px;
}
a{
    text-decoration: none;
    color:#fff;
    font-weight: 150;
}

.nav-link{
  font-family: cursive;
  font-size: 20px;
}

